.journey{
    width:100%
}

.techana{
    width:120px
}

.thead{
    color: white;
    background-color: #CD5B1C
}

.sitemap{
    margin-top: 50px;
    width:200px
}

h2{
    font-family: "Titillium Web", serif;
    color: #CD5B1C;
}

.test{
    width:100px
}